<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{titulo_pagina}</title>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./articulo">Articulo</a></li>
            <li><a href="./foto">Foto</a></li>
        </ul>
    </nav>
</head>
<body>
    <p>{nif}</p>
    <p>{razon_social}</p>
    <p>{direccion}</p>
    <p>{telefono}</p>

</body>
</html>

